
h1{
	margin-left: 20px;
	}

	h2{
	text-align: center
	}
	
p{
	text-align: center
}

body{
	background: lightgrey
}

form{
	margin-left: 40px;
} 

button{

	margin-left: 40px;

}

.text{
	text-align: center
}

.boutton{
	margin-left: 20px;
}


